/* ==========================================
   Portfolio V2
   Author : Sai Kumar Kadiri
========================================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:'Inter',sans-serif;

    background:#0F172A;

    color:#F8FAFC;

    overflow-x:hidden;

}

a{

    text-decoration:none;

    color:inherit;

}

img{

    max-width:100%;

    display:block;

}

ul{

    list-style:none;

}

.container{

    width:90%;

    max-width:1280px;

    margin:auto;

}
/* ==========================================
   Navigation
========================================== */

.navbar{

    position:fixed;

    top:0;

    left:0;

    width:100%;

    background:#0F172A;

    border-bottom:1px solid rgba(255,255,255,.08);

    z-index:1000;

}

.nav-container{

    height:80px;

    display:flex;

    justify-content:space-between;

    align-items:center;

}

.logo{

    display:flex;

    align-items:center;

    gap:15px;

}

.logo-circle{

    width:54px;

    height:54px;

    border-radius:50%;

    background:linear-gradient(135deg,#2563EB,#06B6D4);

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:22px;

    font-weight:700;

    color:white;

    box-shadow:0 0 25px rgba(37,99,235,.45);

}
.logo-text h2{

    font-size:24px;

    font-family:'Poppins',sans-serif;

    font-weight:700;

}

.logo-text h2 span{

    color:#3B82F6;

}
.logo-text p{

    color:#94A3B8;

    margin-top:4px;

    font-size:14px;

}

.nav-menu{

    display:flex;

    gap:40px;

}

.nav-menu a{

    transition:.3s;

    font-weight:500;

}

.nav-menu a:hover{

    color:#3B82F6;

}

.resume-btn{

    display:flex;

    align-items:center;

    gap:10px;

    padding:13px 26px;

    border-radius:10px;

    background:linear-gradient(135deg,#2563EB,#1D4ED8);

    transition:.3s;

    font-weight:600;

}

.resume-btn:hover{

    transform:translateY(-3px);

    box-shadow:0 12px 25px rgba(37,99,235,.35);

}

.resume-btn:hover{

    background:#1D4ED8;

}
.nav-menu a{

    position:relative;

}

.nav-menu a::after{

    content:"";

    position:absolute;

    left:0;

    bottom:-8px;

    width:0;

    height:2px;

    background:#3B82F6;

    transition:.3s;

}

.nav-menu a:hover::after{

    width:100%;

}